image: node:latest

stages:
  - build
  - deploy

variables:
  BUCKET_NAME: bukazu-portal

cache:
  paths:
    - node_modules/

build:
  stage: build
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
    - build
  only:
    - master

deploys3:
  image: "python:3.6.6"  # We use python because there is a well-working AWS Sdk
  stage: deploy
  dependencies:
    - build
  before_script:
    - pip install awscli # Install the SDK
  script:
    - aws s3 cp build s3://${BUCKET_NAME} --recursive
  environment:
    name: 's3-deploy'
    url: http://bukazu-portal.s3-website-eu-west-1.amazonaws.com  # This is the url of the bucket we saved before