image: node:latest

stages:
  - build
  - deploy
  - purge_cache

variables:
  BUCKET_NAME: bukazu-portal
  STAGE_BUCKET_NAME: bukazu-portal-stage

cache:
  paths:
    - node_modules/

build:
  stage: build
  script:
    - npm install
    - npm install bukazu-portal-react@latest
    - npm run build
  artifacts:
    paths:
    - build
  only:
    - master

build_stage:
  stage: build
  script:
    - npm install
    - npm install bukazu-portal-react@latest
    - npm run build:staging
  artifacts:
    paths:
    - build
  only:
    - develop

deploys3:
  image: "python:3.6.6"  # We use python because there is a well-working AWS Sdk
  stage: deploy
  only:
    - master
  dependencies:
    - build
  before_script:
    - pip install awscli # Install the SDK
  script:
    - aws s3 cp build s3://${BUCKET_NAME} --recursive  
  environment:
    name: 's3-deploy'
    url: http://bukazu-portal.s3-website-eu-west-1.amazonaws.com  # This is the url of the bucket we saved before

purge_cache:
  image: "python:3.6.6"  # We use python because there is a well-working AWS Sdk
  stage: purge_cache
  only:
    - master
  dependencies:
    - deploys3
  script:
    - >
      curl -s -X DELETE
      "https://api.cloudflare.com/client/v4/zones/$CLOUDFLARE_ZONE_ID/purge_cache"
      -H "X-Auth-Email: $CLOUDFLARE_AUTH_EMAIL"
      -H "X-Auth-Key: $CLOUDFLARE_AUTH_KEY"
      -H "Content-Type: application/json"
      --data '{"purge_everything":true}'

deployStage:
  image: "python:3.6.6"  # We use python because there is a well-working AWS Sdk
  stage: deploy
  only:
    - develop
  dependencies:
    - build_stage
  before_script:
    - pip install awscli # Install the SDK
  script:
    - aws s3 cp build s3://${STAGE_BUCKET_NAME} --recursive
  environment:
    name: 'stage'
    url: http://bukazu-portal-stage.s3-website-eu-west-1.amazonaws.com  # This is the url of the bucket we saved before
