#bukazu-app .calendar .row {
    width: 100%;
    display: flex;
    flex: 1 1;
}

#bukazu-app .col {
    width: 100%;
    border: solid 1px #fff;
}

#bukazu-app .disabled {
    opacity: 0.5;
}

#bukazu-app .selected {
    border: solid 1px green;
    background: rgba(green, green, green, 0.2)
}

.arrival {
    background: blue;
}