#bukazu-app {
    .calendars-row {
        display: flex;
        flex-wrap: wrap;
    }
    .calendar {
        min-width: 50%;
        padding: 16px;
        box-sizing: border-box;
        .row {
            width: 100%;
            display: flex;
            flex: 1 1;
        }
        .col {
            width: 100%;
            border: solid 1px #fff;
            padding: 8px;
            text-transform: capitalize;
            &-center {
                text-align: center;
            }
            &-start {
                text-align: left;
            }
            &-end {
                text-align: right;
            }
        }
        .disabled {
            opacity: 0;
        }
        .arrival {
            background: #6EEB83;
        }
        .icon {
            cursor: pointer;
        }
        .selected {
            border: solid 1px green;
            background: #17BEBB;
        }
        .booked {
            background: #EA2B1F;
            color: #fff;
        }
    }
}