#bukazu-app #search-page {
    display: flex;
    flex-direction: row;
}

#bukazu-app #search-page .filters {
    padding: 16px;
    /* width: 20%; */
    min-width: 250px;
}
@media (max-width: 825px) {
    #bukazu-app #search-page {
        flex-direction: column;
    }
    #bukazu-app #search-page .filters {
        width: 100%;
    }

}

#bukazu-app {
    .filters-hidden {
        display: none;
    }
    .filters {
        /* &.filters-right {
            order: 2;
        } */
        &-reload {
            background: var(--bukazu-button);
            border: 0;
            border-radius: 5px;
            padding: 4px 8px;
            float: right;
        }
    }
    .SingleDatePickerInput {
        width: 100%;
    }
}
