#bukazu-app .form {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    h2 {
        padding: 16px 0 24px;
        margin: 0;
    }
    >div {
        flex: 1;
    }
    .error-message {
        width: 100%;
        color: red;
        font-size: 14px;
        padding-bottom: 4px
    }
    &-section {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #AEACAC;
        padding: 16px;
    }
    &-sum {
        padding: 16px;
        background: #fff;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, .25);
        position: absolute;
        top: 0;
        right: 10%;
        min-width: 400px;
        .house-details {
            padding: 0 0 16px;
            border-bottom: 1px solid #AEACAC;
            img {
                padding: 16px 0;
                height: 200px;
            }
            th {
                text-align: left;
            }
        }
        .costs-section {
            padding: 16px 0;
            table {
                width: 100%;
                tr {
                    width: 100%;
                    td {
                        width: 60%;
                    }
                }
            }
            .price {
                text-align: right;
                width: 40%;
            }
        }
        button {
            width: 100%;
            padding: 16px;
            border: 0;
            color: #fff;
            font-size: 20px;
            background: #e28413;
            cursor: pointer;
            &:hover {
                box-shadow: 0px 2px 12px rgba(0, 0, 0, .25);
            }
        }
    }
    &-row {
        display: flex;
        flex-direction: column;
        padding: 8px 0;
        select,
        input {
            max-width: 40%;
        }
        &.inline {
            &.hidden {
                display: none;
            }
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;
            label {
                width: 20%;
                font-size: 16px
            }
            select,
            input {
                width: auto;
                min-width: 150px;
                padding: 8px 64px 8px 16px;
            }
            .price_per {
                padding: 0 0 0 100px;
            }
        }
    }
    select {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em), calc(100% - 15px) calc(1em), calc(100% - 2.5em);
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
    }
}