.price-overview {
    padding: 16px;
    display: flex;
    &--build {
        display: flex;
        flex-direction: row;
        width: 30%;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        table {
            width: 100%;
        }
        th {
            text-align: left;
        }
        tr {
            border-bottom: 1px solid rgba(0, 0, 0, .25);
        }
        td {
            padding: 4px;
            width: 50%;
            &.price {
                text-align: right;
            }
        }
    }
    &--extra {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    &--book {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &>div {
            padding: 8px 0;
        }
        .data-label {
            font-size: 18px;
        }
        .data {
            font-size: 20px;
            font-weight: bold;
        }
        .price {
            font-size: 32px;
            font-weight: bold;
        }
        .button {
            background: #E28413;
            color: #fff;
            padding: 12px 32px;
            margin: 8px 0;
            font-weight: bold;
            width: 75%;
            text-align: center;
            border: 0;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            &:hover {
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}