#bukazu-app #results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
}

#bukazu-app #results .object-inner {
    color: rgba(26, 25, 25, 1);
    border: 1px solid rgba(69, 74, 83, 0.2);
    border-radius: 5px;

}