#bukazu-app #search-page {
    display: flex;
    flex-direction: row;
}

#bukazu-app #search-page .filters {
    padding: 16px;
    width: 20%;
    min-width: 200px;
}
@media (max-width: 825px) {
    #bukazu-app #search-page {
        flex-direction: column;
    }
    #bukazu-app #search-page .filters {
        width: 100%;
    }

}
