#bukazu-app .calendars-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
        #bukazu-app .calendars-header .col .icon {
                padding: 8px 40px;
                background: rgba(23, 190, 187, 0.75);
                -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
                        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }
        #bukazu-app .calendars-header .col .icon:hover {
                    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                }
    #bukazu-app .calendars-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    #bukazu-app .calendar {
        min-width: 50%;
        padding: 16px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    #bukazu-app .calendar .header {
            background-color: rgba(211, 211, 211, 0.2);
        }
    #bukazu-app .calendar .row {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
                -ms-flex: 1 1;
                    flex: 1 1;
        }
    #bukazu-app .calendar .row.days {
                border-bottom: 1px solid rgba(211, 211, 211, 0.5);
            }
    #bukazu-app .calendar .col {
            width: 100%;
            /* border: solid 1px #fff; */
            padding: 8px;
            text-transform: capitalize;
            text-align: center;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
    #bukazu-app .calendar .col-center {
                text-align: center;
            }
    #bukazu-app .calendar .col-start {
                text-align: left;
            }
    #bukazu-app .calendar .col-end {
                text-align: right;
            }
    #bukazu-app .calendar .cell {
                    background: #6eeb83;
                }
    #bukazu-app .calendar .disabled {
            opacity: 0;
        }
    #bukazu-app .calendar .arrival {
            background: #6eeb83;
            cursor: pointer;
            font-weight: bold;
            text-decoration: underline;
        }
    #bukazu-app .calendar .departure {
            font-weight: bold;
            background: yellow;
            cursor: pointer;
        }
    #bukazu-app .calendar .icon {
            cursor: pointer;
        }
    #bukazu-app .calendar .selected {
            /* border: solid 1px rgba(23, 190, 187, 0.75); */
            background: rgba(23, 190, 187, 0.75);
        }
    #bukazu-app .calendar .booked {
            background: #ea2b1f;
            color: #fff;
        }
#bukazu-app .form {
    max-width: 1400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}
#bukazu-app .form h2 {
        padding: 16px 0 24px;
        margin: 0;
    }
#bukazu-app .form >div {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
#bukazu-app .form .error-message {
        width: 100%;
        color: red;
        font-size: 14px;
        padding-bottom: 4px
    }
#bukazu-app .form-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border-bottom: 1px solid #AEACAC;
        padding: 16px;
    }
#bukazu-app .form-sum {
        padding: 16px;
        background: #fff;
        -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, .25);
                box-shadow: 0px 2px 12px rgba(0, 0, 0, .25);
        position: absolute;
        top: 0;
        right: 10%;
        min-width: 400px;
    }
#bukazu-app .form-sum .house-details {
            padding: 0 0 16px;
            border-bottom: 1px solid #AEACAC;
        }
#bukazu-app .form-sum .house-details img {
                padding: 16px 0;
                height: 200px;
            }
#bukazu-app .form-sum .house-details th {
                text-align: left;
            }
#bukazu-app .form-sum .costs-section {
            padding: 16px 0;
        }
#bukazu-app .form-sum .costs-section table {
                width: 100%;

            }
#bukazu-app .form-sum .costs-section table tr {
                    width: 100%;
                }
#bukazu-app .form-sum .costs-section table tr td {
                        width: 60%;
                    }
#bukazu-app .form-sum .costs-section .price {
                text-align: right;
                width: 40%;
            }
#bukazu-app .form-sum button {
            width: 100%;
            padding: 16px;
            border: 0;
            color: #fff;
            font-size: 20px;
            background: #e28413;
            cursor: pointer;
        }
#bukazu-app .form-sum button:hover {
                -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, .25);
                        box-shadow: 0px 2px 12px rgba(0, 0, 0, .25);
            }
#bukazu-app .form-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 8px 0;
    }
#bukazu-app .form-row select,
        #bukazu-app .form-row input {
            max-width: 40%;
        }
#bukazu-app .form-row.inline {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            width: 100%;
        }
#bukazu-app .form-row.inline label {
                width: 20%;
                font-size: 16px
            }
#bukazu-app .form-row.inline select,
            #bukazu-app .form-row.inline input {
                width: auto;
                padding: 8px 64px 8px 16px;
            }
#bukazu-app .form select {
        background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
        background-position:
            calc(100% - 20px) calc(1em),
            calc(100% - 15px) calc(1em),
            calc(100% - 2.5em) ;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;
    }
.price-overview {
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
.price-overview {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column
}
    }
.price-overview table {
        width: 100%;
    }
.price-overview th {
        text-align: left;
    }
.price-overview tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }
.price-overview td {
        padding: 4px;
        width: 50%;
    }
.price-overview td.price {
            text-align: right;
        }
.price-overview td.column {
        width: 30%;
    }
.price-overview .price-list {
        list-style: none;
        padding: 0;
        text-align: right;
    }
.price-overview ul li {
            padding: 2px 0;
        }
.price-overview--build {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        /* width: 30%; */
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 16px;
    }
@media screen and (max-width: 992px) {
.price-overview--build {
            padding: 16px 0
    }
        }
.price-overview--extra {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 16px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        /* width: 30%; */
    }
.price-overview--book {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        /* width: 30%; */
        padding: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
@media screen and (max-width: 992px) {
.price-overview--book {
            padding: 16px 0
    }
        }
.price-overview--book>div {
            padding: 8px 0;
        }
.price-overview--book .data-label {
            font-size: 18px;
        }
.price-overview--book .data {
            font-size: 20px;
            font-weight: bold;
        }
.price-overview--book .price {
            font-size: 32px;
            font-weight: bold;
        }
.price-overview--book .option {
            display: block;
            color: #004fa7;
            text-decoration: underline;
            padding: 8px 0;
        }
.price-overview--book .button {
            background: #e28413;
            color: #fff;
            padding: 12px 32px;
            margin: 8px 0;
            font-weight: bold;
            width: 75%;
            text-align: center;
            border: 0;
            font-size: 20px;
            -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
                    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }
.price-overview--book .button:hover {
                -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
            }
#bukazu-app {
    background: #FBFBFB;
}
#bukazu-app div {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }