#bukazu-app .calendars-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
        #bukazu-app .calendars-header .col .icon {
                padding: 8px 40px;
                background: rgba(23, 190, 187, 0.75);
                -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
                        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }
        #bukazu-app .calendars-header .col .icon:hover {
                    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                }
    #bukazu-app .calendars-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    #bukazu-app .calendar {
        min-width: 50%;
        padding: 16px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    #bukazu-app .calendar .header {
            background-color: rgba(211, 211, 211, 0.2);
        }
    #bukazu-app .calendar .row {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
                -ms-flex: 1 1;
                    flex: 1 1;
        }
    #bukazu-app .calendar .row.days {
                border-bottom: 1px solid rgba(211, 211, 211, 0.5);
            }
    #bukazu-app .calendar .col {
            width: 100%;
            /* border: solid 1px #fff; */
            padding: 8px;
            text-transform: capitalize;
            text-align: center;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
    #bukazu-app .calendar .col-center {
                text-align: center;
            }
    #bukazu-app .calendar .col-start {
                text-align: left;
            }
    #bukazu-app .calendar .col-end {
                text-align: right;
            }
    #bukazu-app .calendar .cell {
                    background: #6eeb83;
                }
    #bukazu-app .calendar .disabled {
            opacity: 0;
        }
    #bukazu-app .calendar .arrival {
            background: #6eeb83;
            cursor: pointer;
            font-weight: bold;
            text-decoration: underline;
        }
    #bukazu-app .calendar .departure {
            font-weight: bold;
            background: yellow;
            cursor: pointer;
        }
    #bukazu-app .calendar .icon {
            cursor: pointer;
        }
    #bukazu-app .calendar .selected {
            /* border: solid 1px rgba(23, 190, 187, 0.75); */
            background: rgba(23, 190, 187, 0.75);
        }
    #bukazu-app .calendar .booked {
            background: #ea2b1f;
            color: #fff;
        }
.price-overview {
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
.price-overview {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column
}
    }
.price-overview table {
        width: 100%;
    }
.price-overview th {
        text-align: left;
    }
.price-overview tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }
.price-overview td {
        padding: 4px;
        width: 50%;
    }
.price-overview td.price {
            text-align: right;
        }
.price-overview td.column {
        width: 30%;
    }
.price-overview .price-list {
        list-style: none;
        padding: 0;
        text-align: right;
    }
.price-overview ul li {
            padding: 2px 0;
        }
.price-overview--build {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        /* width: 30%; */
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 16px;
    }
@media screen and (max-width: 992px) {
.price-overview--build {
            padding: 16px 0
    }
        }
.price-overview--extra {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 16px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        /* width: 30%; */
    }
.price-overview--book {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        /* width: 30%; */
        padding: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
@media screen and (max-width: 992px) {
.price-overview--book {
            padding: 16px 0
    }
        }
.price-overview--book>div {
            padding: 8px 0;
        }
.price-overview--book .data-label {
            font-size: 18px;
        }
.price-overview--book .data {
            font-size: 20px;
            font-weight: bold;
        }
.price-overview--book .price {
            font-size: 32px;
            font-weight: bold;
        }
.price-overview--book .option {
            display: block;
            color: #004fa7;
            text-decoration: underline;
            padding: 8px 0;
        }
.price-overview--book .button {
            background: #e28413;
            color: #fff;
            padding: 12px 32px;
            margin: 8px 0;
            font-weight: bold;
            width: 75%;
            text-align: center;
            border: 0;
            font-size: 20px;
            -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
                    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }
.price-overview--book .button:hover {
                -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
            }
#bukazu-app div {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
