#bukazu-app .calendars-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
        #bukazu-app .calendars-header .col .icon {
                padding: 8px 40px;
                background: rgba(23, 190, 187, 0.75);
                -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
                        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }
        #bukazu-app .calendars-header .col .icon:hover {
                    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                }
    #bukazu-app .calendars-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    #bukazu-app .calendar {
        min-width: 50%;
        padding: 16px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    #bukazu-app .calendar .header {
            background-color: rgba(211, 211, 211, 0.2);
        }
    #bukazu-app .calendar .row {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
                -ms-flex: 1 1;
                    flex: 1 1;
        }
    #bukazu-app .calendar .row.days {
                border-bottom: 1px solid rgba(211, 211, 211, 0.5);
            }
    #bukazu-app .calendar .col {
            width: 100%;
            border: solid 1px #fff;
            padding: 8px;
            text-transform: capitalize;
            text-align: center;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
    #bukazu-app .calendar .col-center {
                text-align: center;
            }
    #bukazu-app .calendar .col-start {
                text-align: left;
            }
    #bukazu-app .calendar .col-end {
                text-align: right;
            }
    #bukazu-app .calendar .disabled {
            opacity: 0;
        }
    #bukazu-app .calendar .arrival {
            background: #6eeb83;
            cursor: pointer;
        }
    #bukazu-app .calendar .departure {
            font-weight: bold;
            background: yellow;
            cursor: pointer;
        }
    #bukazu-app .calendar .icon {
            cursor: pointer;
        }
    #bukazu-app .calendar .selected {
            border: solid 1px rgba(23, 190, 187, 0.75);
            background: rgba(23, 190, 187, 0.75);
        }
    #bukazu-app .calendar .booked {
            background: #ea2b1f;
            color: #fff;
        }
.price-overview {
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.price-overview--build {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 30%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
.price-overview--build table {
            width: 100%;
        }
.price-overview--build th {
            text-align: left;
        }
.price-overview--build tr {
            border-bottom: 1px solid rgba(0, 0, 0, .25);
        }
.price-overview--build td {
            padding: 4px;
            width: 50%;
        }
.price-overview--build td.price {
                text-align: right;
            }
.price-overview--extra {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 30%;
    }
.price-overview--book {
        width: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
.price-overview--book>div {
            padding: 8px 0;
        }
.price-overview--book .price-label {
            font-size: 24px;
        }
.price-overview--book .price {
            font-size: 32px;
            font-weight: bold;
        }
.price-overview--book .button {
            background: #E28413;
            color: #fff;
            padding: 12px 32px;
            margin: 8px 0;
            font-weight: bold;
        }
#bukazu-app div {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
