#bukazu-app .calendars-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    #bukazu-app .calendar {
        min-width: 50%;
        padding: 16px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    #bukazu-app .calendar .row {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1;
                -ms-flex: 1 1;
                    flex: 1 1;
        }
    #bukazu-app .calendar .col {
            width: 100%;
            border: solid 1px #fff;
            padding: 8px;
            text-transform: capitalize;
        }
    #bukazu-app .calendar .col-center {
                text-align: center;
            }
    #bukazu-app .calendar .col-start {
                text-align: left;
            }
    #bukazu-app .calendar .col-end {
                text-align: right;
            }
    #bukazu-app .calendar .disabled {
            opacity: 0;
        }
    #bukazu-app .calendar .arrival {
            background: #6EEB83;
        }
    #bukazu-app .calendar .icon {
            cursor: pointer;
        }
    #bukazu-app .calendar .selected {
            border: solid 1px green;
            background: #17BEBB;
        }
    #bukazu-app .calendar .booked {
            background: #EA2B1F;
            color: #fff;
        }

#bukazu-app div {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
